.order-history-container {
    padding: 20px;
}

.order-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-item {
    width: 95%;
    margin-bottom: 20px;
    padding: 20px;
    transition: all 0.3s ease;
}

.order-item:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.order-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
        /* Added alignment */
}

.left-container,
.center-container,
.right-container {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.left-container {
    justify-content: flex-start;
}

.center-container {
    justify-content: flex-start;
}

.right-container {
    justify-content: center;
    align-items: flex-end;
}

.plus-sign {
    font-size: 24px;
    font-weight: bold;
}

.productDetails {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    padding: 0;
}


.product-content {
    display: flex;
}

.product-image-container {
    width: 20%;
    height: auto;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

.product-info-container {
    width: 40%;
}

.final-price-container {
    width: 30%;
    display: flex;
    align-items: center;
}

.separator {
    width: 90%;
    /* Adjust as needed */
    margin: 10px auto;
    /* Adjust margin as needed */
    border: none;
    border-top: 1px solid #ccc;
    /* Change color as needed */
}
