.modern-navbar {
  background-color: #ffffff; /* White background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Bahnschrift', sans-serif;
  height: auto; /* Changed height to auto */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Adjusted alignment */
  max-width: 100%; /* Adjusted max-width */
  margin: 0 auto;
  padding: 20px 2rem; /* Adjusted padding */
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 0px;
}

.logo {
  height: 60px;
  width: 60px;
  padding-bottom: 15px;
}

.brand-name {
  color: #333333;
  font-size: 2.1rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.nav-link2 {
  background-color: red;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2.3rem 1rem 1.7rem; /* Adjusted padding */
  margin-top: -1.9rem; /* Further adjusted margin-top */
  text-align: center;
  display: inline-block; /* Ensuring padding works correctly */
}



.nav-link:hover {
  color: red;
  font-size: 2rem;
}

.navbar-toggle {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }
}
