/* UpdateDriver.css */

.updatedFullContainer {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

/* Style for the heading */
.updatedFullContainer h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

/* Style for the table */
.updatedFullContainer table {
  width: 100%;
  border-collapse: collapse;
}

.updatedFullContainer .attribute {
  font-weight: bold;
  min-width: 150px;
}

/* Style for table rows */
.updatedFullContainer tr {
  border: none;
}

/* Style for table data cells */
.updatedFullContainer td {
  padding: 16px;
  text-align: left;
  font-size: 18px;
}

/* Style for the "Edit" button */
.updatedFullContainer button {
  padding: 10px 8px;
  font-size: 18px;
  min-width: 160px; /* Set a minimum width for the "Edit" button */
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.updatedFullContainer .updateButton {
  margin-right: 50px;
}

/* Center the table in the container */
.updatedFullContainer .container {
  display: flex;
  justify-content: center;
}

/* Media query for smaller screens */
.updatedFullContainer {
  @media (max-width: 768px) {
    button {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

.applyChangesButton {
  width: 90%;
  align-items: center;
  margin: 0 auto 10px auto; /* Center the button horizontally and add margin at the bottom */
  padding: 10px 8px;
  font-size: 18px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* UpdateDriver.css */

.updatedFullContainer input {
  width: 100%; /* Make the input field full width */
  height: auto; /* Adjust the height as needed */
  padding: 8px; /* Add padding for better aesthetics */
  box-sizing: border-box; /* Include padding and border in the total width/height */
}


